ansible<6.0
ansible-compat<=1.0.0
PyYAML
ansi2html  # GPL (soft-dependency of pytest-html)
identify<=2.4.2 # (reference: https://bugs.launchpad.net/tripleo/+bug/1957116)
molecule>=3.5.2
molecule-docker>=1.1.0
paramiko>=2.5.0  # LGPL (soft-dependency of docker that enables ssh protocol)
pre-commit>=1.10  # MIT License
pytest  # MIT
pytest-cov  # MIT
pytest-html  # MPL 2.0
pytest-molecule>=1.3.3,<1.4.0  # MIT (reference: https://launchpad.net/bugs/1900033)
pytest-plus  # MIT
pytest-xdist  # MIT
requests
