ansible<2.10
PyYAML
ansi2html  # GPL (soft-dependency of pytest-html)
molecule>=3.3.4,<3.4
molecule-containers>=0.2.1
molecule-docker>=0.2.4
molecule-podman>=0.3.0
paramiko>=2.5.0  # LGPL (soft-dependency of docker that enables ssh protocol)
pre-commit>=1.10  # MIT License
pytest  # MIT
pytest-cov  # MIT
pytest-html  # MPL 2.0
pytest-molecule>=1.3.3,<1.4.0  # MIT (reference: https://launchpad.net/bugs/1900033)
pytest-plus  # MIT
pytest-xdist  # MIT
requests
