#!/bin/bash -eux
source {{ workspace }}/venv/bin/activate
TRIPLEO_COMMON_PATH="{{ openstack_git_root }}/tripleo-common"

openstack overcloud container image build {{ container_config }}\
    --kolla-config-file {{ workspace }}/kolla-build.conf \
    {% if ci_branch != 'rocky' %}
    {% for item in exclude_containers[ansible_pkg_mgr] %}
        --exclude {{ item }} \
    {% endfor %}
    {% endif %}
    {% if use_buildah is defined and use_buildah %}
        --use-buildah \
    {% endif %}
