workspace: "{{ ansible_user_dir }}/workspace"

# https://review.opendev.org/#/c/669471 - rhel8 kolla support
kolla_rhel8_patch:
  master: 669471
  "stable/train": 693159

virtualenv_python:
  7: python
  8: python3

exclude_containers:
  master: &exclude_containers
    - fluentd
    - opendaylight
    - neutron-server-opendaylight
    - neutron-mlnx-agent
    - sahara-api
    - sahara-engine
    - skydive-agent
    - skydive-analyzer
    - sensu-client
    - sensu-base
    - influxdb
  ussuri: *exclude_containers
  train: *exclude_containers
  stein:
    - opendaylight
  rocky:
    - grafana
    - opendaylight
  queens:
    - opendaylight
  rhos-17: *exclude_containers
  rhos-16.2: *exclude_containers

timestamper_cmd: >-
    | awk '{ print strftime("%Y-%m-%d %H:%M:%S |"), $0; fflush(); }'

# used with component_ci_service in defaults/main by component-ci jobs
component_ci_configs:
  compute: "$TRIPLEO_CI_PATH/roles/build-containers/templates/component_ci/compute_overcloud_containers.yaml"
  keystone: "$TRIPLEO_CI_PATH/roles/build-containers/templates/component_ci/keystone_overcloud_containers.yaml"
