# TRIPLEO-CI environment settings
cloudenv: "upstream"
undercloud_user: "{{ lookup('env','USER') }}"
non_root_user: "{{ undercloud_user }}"
ssh_user: "{{ undercloud_user }}"
workers_args: >-
    -e {{ overcloud_templates_path }}/environments/low-memory-usage.yaml
    -e {{ tripleo_root }}/tripleo-ci/test-environments/worker-config.yaml
    -e {{ overcloud_templates_path }}/environments/debug.yaml
# undercloud deployment
undercloud_docker_registry_mirror: "{{ lookup('env','NODEPOOL_DOCKER_REGISTRY_PROXY') }}"

dlrn_use_local_mirrors: true

# ara install and config
undercloud_ansible_cfg: false

vxlan_networking: true
hostname_correction: true # workaround restriction on toci images

vxlan_mtu: 1350
mtu: "{{ vxlan_mtu }}"
undercloud_local_mtu: "{{ mtu }}"
overcloud_neutron_global_physnet_mtu: "{{ mtu }}"

# environment settings, not TRIPLEO-CI specific
undercloud_local_interface: "br-ex" # related to osinfra network configuration
flavor_args: ""
undercloud_conf_extras: "net_config_override = /opt/stack/new/tripleo-ci/undercloud-configs/net-config-multinode.json.template"
generate_pingtest_subunit: true
undercloud_undercloud_nameservers:
  - 127.0.0.1
  - 1.1.1.1
tempest_test_image_path: /opt/cache/files/cirros-0.3.5-x86_64-disk.img

# We don't need to cleanup TripleO CI
tempest_track_resources: false
undercloud_undercloud_cleanup: false

# Container update settings
update_containers: >-
  {% if containerized_overcloud|bool or containerized_undercloud|bool -%}
  true
  {%- endif -%}

#build-test packages
artg_repos_dir: /home/zuul/src/git.openstack.org/openstack
# InfluxDB module settings
influxdb_only_successful_tasks: true
influxdb_measurement: job
influxdb_url:
influxdb_port: 8086
influxdb_user: tripleo_ci
influxdb_password:
influxdb_dbname: tripleo_ci
influxdb_data_file_path: "{{ artcl_collect_dir }}/influxdb_data"
influxdb_create_data_file: true

run_tripleo_validations: false
run_tripleo_validations_negative_tests: false
run_tripleo_validations_setup: false

# https://bugs.launchpad.net/tripleo/+bug/1817600
# turn off performance monitoring.
ara_generate_html: false
# run atop with interval (-i) of 180 seconds instead of default 10
atop_command: atop -i 180 -R -w /var/log/atop.bin
