---
undercloud_type: ovb
use_testenv_broker: true
build_test_packages: true
undercloud_user: "{{ lookup('env','USER') }}"
non_root_user: "{{ undercloud_user }}"
ssh_user: "{{ undercloud_user }}"
existing_key_location: "/etc/nodepool/id_rsa"
enable_vbmc: false
gating_repo_enabled: true

workers_args: >-
    -e {{ overcloud_templates_path }}/environments/low-memory-usage.yaml
    -e {{ tripleo_root }}/tripleo-ci/test-environments/worker-config.yaml
    -e {{ overcloud_templates_path }}/environments/debug.yaml
# Undercloud setup
undercloud_ironic_ipxe_port: 3816
non_root_user_setup: false
step_set_undercloud_hostname: true
undercloud_hostname: undercloud
# NOTE(mwhahaha): removed until we can sort out the docker.io issues LP#1889122
#undercloud_docker_registry_mirror: "{{ lookup('env','NODEPOOL_DOCKER_REGISTRY_V2_PROXY') }}"
dlrn_use_local_mirrors: true
run_validate_undercloud: true
step_overcloud_prep_flavors: false

skip_pingtest_cleanup: true
# Overcloud deploy
overcloud_templates_path: /usr/share/openstack-tripleo-heat-templates

# Network
# Deploy args
flavor_args: ""
# Images settings
image_cache_dir: "{{ working_dir }}/images-cache"
image_cache_dir_cleanup: true
# user home (working_dir default) is the base dir for all images operations
# if it's changed, nothing will work
images_working_dir: "{{ working_dir }}"
build_image_isolated: false
build_undercloud: false
images_destroy_working_dir: false
libguestfs_mode: false
generate_pingtest_subunit: true
# Network settings
step_adjust_mtu: true
mtu: 1350
host_network_interfaces:
  - eth0
  - eth1
  - "{% if network_isolation|default(true)|bool %}eth2{% endif %}"
mtu_interface: "{{ host_network_interfaces|select()|list }}"
undercloud_local_mtu: "{{ mtu }}"
overcloud_neutron_global_physnet_mtu: "{{ mtu }}"
floating_ip_cidr: >-
  {%- if network_isolation|default(true)|bool %}10.0.0.0/24
  {%- else %}192.168.24.0/24
  {%- endif %}
tempest_test_image_path: /opt/cache/files/cirros-0.4.0-x86_64-disk.img
tempest_tempest_conf_overrides:
  image.image_path: http://images.rdoproject.org/cirros/cirros-0.4.0-x86_64-disk.img
# We don't need to cleanup TripleO CI
tempest_track_resources: false
undercloud_undercloud_cleanup: false

# Deployment metrics
ara_graphite_prefix: "tripleo.{{ lookup('env', 'STABLE_RELEASE')|default('master', true) }}.{{ lookup('env', 'TOCI_JOBTYPE') }}."
ara_graphite_server: 66.187.229.172

#build-test packages
artg_repos_dir: /home/zuul/src/opendev.org/openstack

# https://bugs.launchpad.net/tripleo/+bug/1799895
undercloud_workers: 1

# Ironic debug
# https://bugs.launchpad.net/tripleo/+bug/1797526
step_introspect_debug: true
# Remove ContainerCli once this scenario is tested on CentOS8
overcloud_container_cli: >-
  {%- if ansible_distribution in ["RedHat", "CentOS"] and ansible_distribution_major_version|int >= 8 %}podman
  {%- else %}docker{% endif -%}
ara_generate_html: false

# overrides default timeout of 90min
deploy_timeout: 120

# OVB logs are far too big not to be compressed
artcl_gzip: true
# override any featureset file.. doc creation should not run in 3rd party
artcl_gen_docs: false
