---
# The MOLECULE_ vars used here are not officialy endorsed by molecule, but we
# hope a future version will add implicit support for them.
driver:
  name: docker
log: true
platforms:

  - name: stream8
    hostname: stream8
    # image below is based on official quay.io/centos/centos:stream8 but
    # it has python preinstalled on it.
    image: quay.io/pycontribs/centos:stream8
    pre_build_image: true
    # pull: true

provisioner:
  name: ansible
