---
tripleo_image_source: http://cloud.centos.org/centos/9-stream/x86_64/images/CentOS-Stream-GenericCloud-9-latest.x86_64.qcow2
dib_yum_repo_conf:
  - /etc/yum.repos.d/quickstart-centos*
  - /etc/yum.repos.d/delorean*
  - /etc/yum.repos.d/centos.repo
  - "{{ centos_compose_dib_yum_repos | ternary('/etc/yum.repos.d/CentOS-Stream-9*','') }}"
dib_release: "9-stream"
dib_dnf_module_streams: ""
tripleo_image_os: centos9
