tripleo_image_source: https://images.rdoproject.org/CentOS-8-x86_64-GenericCloud.qcow2
workspace: "{{ ansible_user_dir }}/workspace"
openstack_git_root: "{{ ansible_user_dir }}/src/opendev.org/openstack"
dib_pin: "{% if ansible_distribution_major_version is version(8, '<') %}@2.38.0{% endif %}"
python_version:
  py2: python
  py3: python3
base_image_config:
  py2: overcloud-images.yaml
  py3: overcloud-images-python3.yaml
tripleo_pip_projects:
  - "git+file://{{ openstack_git_root }}/diskimage-builder{{ dib_pin }}"
  - "file://{{ openstack_git_root }}/python-tripleoclient"
  - "file://{{ openstack_git_root }}/tripleo-common"
tripleo_common_path: "{{ openstack_git_root }}/tripleo-common"
tripleo_elements_path:
  - "{{ openstack_git_root }}/tripleo-puppet-elements/elements"
  - "{{ openstack_git_root }}/tripleo-image-elements/elements"
  - "{{ openstack_git_root }}/heat-agents"
  - "{{ openstack_git_root }}/ironic-python-agent-builder/dib/"
tripleo_shebang_path:
  - "{{ openstack_git_root }}/tripleo-image-elements/elements/os-svc-install/bin/map-services-tripleo"
  - "{{ openstack_git_root }}/diskimage-builder/diskimage_builder/lib/outfilter.py"
  - "{{ openstack_git_root }}/diskimage-builder/diskimage_builder/elements/package-installs/bin/package-installs-squash"
  - "{{ openstack_git_root }}/diskimage-builder/diskimage_builder/elements/svc-map/extra-data.d/10-merge-svc-map-files"
  - "{{ openstack_git_root }}/diskimage-builder/diskimage_builder/elements/pypi/pre-install.d/04-configure-pypi-mirror"
  - "{{ openstack_git_root }}/diskimage-builder/diskimage_builder/elements/deploy-targetcli/extra-data.d/module/targetcli-wrapper"
dib_yum_repo_conf: >-
  {% if ansible_distribution == 'RedHat' and ansible_distribution_major_version is version(8, '>=') -%}
  {{ dib_yum_repo_conf_rhel }}
  {%- else -%}
  {{ dib_yum_repo_conf_centos }}
  {%- endif %}
dib_yum_repo_conf_centos:
  - /etc/yum.repos.d/tripleo-centos*
  - /etc/yum.repos.d/delorean*
  - /etc/yum.repos.d/CentOS*
dib_yum_repo_conf_rhel:
  - /etc/yum.repos.d/rh-cloud.repo
  - /etc/yum.repos.d/delorean*
dib_release: "8"
tripleo_image_os: centos8
build_all_images: false
# Vars for running Image sanity
# image_sanity_command var should in following format: <command_name > /tmp/output_file name>
# We need to dump the command output in /var/tmp directory.
image_sanity: true
image_sanity_command: "rpm -qa > /var/tmp/rpm_qa.txt; rpm -Va | grep missing > /var/tmp/rpm_va.txt"
image_sanity_files:
  - /var/tmp/rpm_qa.txt
  - /var/tmp/rpm_va.txt
# Referenced bugs linked to missing dirs
#  - https://bugs.launchpad.net/tripleo/+bug/1879766
missing_dirs:
  - /var/lib/pcs
  - /etc/pki/tls/private
